# GCP Project
GCP_PROJECT_ID=your-gcp-project-id
GCP_REGION=asia-southeast1
GCP_REGISTRY=gcr.io

# Cloud Run Service Names
SERVICE_CLIENT=your-client-service-name
SERVICE_SERVER=your-server-service-name

# Docker Image Names
IMAGE_CLIENT=your-client-image-name
IMAGE_SERVER=your-server-image-name

# Server env vars file (relative to repo root)
SERVER_ENV_FILE=env.yaml
